body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

a {
  color: #9b59b6;
  text-decoration: none;
}

.slide {
  transition: all 300ms ease-in-out;
}

.slide-enter, .slide-exit-active {
  transform: translate(0, -50px);
  opacity: 0;
}

.slide-exit {
  position: absolute;
  top: 0;
}

.slide-enter-active {
  transform: none;
  opacity: 1;
}